<?php
/** @var \Main\View\Base $this */
/** @var \Main\Model\Page $page */
$page = $this->page;
$choices = $page->getChoices();
$form = $this->createBootstrapForm($this->createChoice);
?>
<h2>Możliwe wybory</h2>
<div class="row">
    <div class="col-lg-6">

        <?= $form->start() ?>
        <?php foreach ($choices as $choice): ?>
        <div class="form-row">
            <?php if ($choice->id()): ?>
                <div class="col-3 mb-2">
                    <?php $target = $choice->findTargetPage(); ?>
                    <?= $target
                            ? $this->linkTo('#' . $choice->getTarget(), '/admin/pages/edit/' . $target->id(), [ 'class' => 'btn btn-outline-success btn-block' ])
                            : $this->linkTo('#' . $choice->getTarget(), '/admin/pages/create?name=' . $choice->getTarget(), [ 'class' => 'btn btn-outline-warning btn-block' ]) ?>
                </div>
                <div class="col-5 p-2"><?= $choice->getDescription() ?></div>
                <div class="col-2 p-2"><?= $choice->getStatus() ?></div>
                <div class="col-2"><?= $this->linkTo('Usuń wybór', '/admin/pages/remove-choice/' . $choice->id(), [ 'class' => 'flaticon-delete btn btn-outline-danger btn-block' ]) ?></div>
            <?php else: ?>
                <div class="col-3"><?= $form->text('target', [ 'prepend' => '#' ]) ?></div>
                <div class="col-5"><?= $form->text('description') ?></div>
                <div class="col-2"><?= $form->text('status', [ 'hint' => 'np. +klątwa' ]) ?></div>
                <div class="col-2"><?= $form->button('submit', [ 'button_class' => 'flaticon-add btn-block' ]) ?></div>
            <?php endif; ?>
        </div>
        <?php endforeach; ?>
        <?= $form->end() ?>

    </div>
</div>