<?php
/** @var Main\View\Base $this */
/** @var Main\Model\Page $page */
$page = $this->page;
$form = $this->createBootstrapForm($this->createPage);
?>
<h1>Tworzenie strony</h1>
<div class="row">
    <div class="col-lg-6">

        <?= $form->start() ?>
        <div class="form-row">
            <div class="col-3"><?= $form->text('name', [ 'prepend' => '#' ]) ?></div>
            <div class="col-9"><?= $form->text('description') ?></div>
        </div>

        <?= $form->textarea('content') ?>
        <?= $form->text('image', [ 'input_type' => 'url' ]) ?>

        <div class="form-row">
            <div class="col-6">
                <?= $form->text('status', [ 'hint' => 'np. +klątwa, -głód' ]) ?>
            </div>
            <div class="col-6 text-right">
                <?= $form->button('submit', [ 'button_class' => 'flaticon-save' ]) ?>
                <?= $this->linkTo('Anuluj', '/admin/pages', [ 'class' => 'btn btn-outline-primary' ])?>
            </div>
        </div>
        <?= $form->end() ?>

    </div>
    <div class="col-lg-6">

        <?= $this->image($page->getImage(), $page->getName(), [ 'class' => 'img-fluid' ]) ?>

    </div>
</div>

<script type="text/javascript">

    var editor = tinymce.get('createpage_content');
    if (editor !== null) {
        editor.destroy();
    }

    tinymce.init({
        selector: '#createpage_content',
        toolbar: 'bold italic strikethrough blockquote | alignleft aligncenter alignright | code removeformat',
        plugins: [ 'lists', 'autolink', 'code', 'preview' ],
        content_css: '<?= $this->urlTo('/stylesheets/editor.css') ?>',
        language: 'pl',
        menubar: false,
        statusbar: false,
        resize: true
    });

</script>