<?php
/** @var \Main\View\Base $this */
/** @var \Main\Model\Page $page */
$page = $this->page;
$form = $this->createBootstrapForm($this->editPage);
?>
<h1>Edycja strony</h1>
<div class="row">
    <div class="col-lg-6">

        <?= $form->start() ?>
        <?= $form->text('name') ?>
        <?= $form->text('description') ?>
        <?= $form->textarea('content') ?>
        <?= $form->text('image', [ 'input_type' => 'url' ]) ?>

        <div class="form-row">
            <div class="col-6">
                <?= $form->text('status', [ 'hint' => 'np. +klątwa, -głód' ]) ?>
            </div>
            <div class="col-6 text-right">
                <?= $form->button('submit', [ 'button_class' => 'flaticon-save' ]) ?>
                <?= $this->linkTo('Anuluj', '/admin/pages', [ 'class' => 'btn btn-outline-primary' ])?>
            </div>
        </div>

        <?= $form->end() ?>

    </div>
    <div class="col-lg-6">

       <?= $this->image($page->getImage(), $page->getImage(), [ 'class' => 'img-fluid', 'href' => $page->getImage() ]) ?>

    </div>
</div>

<hr />
<?= $this->render('admin/pages/_choices') ?>

<hr />
<?= $this->render('admin/pages/_sources') ?>

